<div class="concentration-label">Concentration Game</div>
<div class="difficulty-selection">
  <span class="difficulty-label">Choose difficulty</span>
  <ul class="difficulty-levels">
    <li><div class="hard-level"><span class="level-label">Hard</span><span class="level-pairs">25 pairs</span></div></li>
    <li><div class="medium-level"><span class="level-label">Medium</span><span class="level-pairs">12 pairs</span></div></li>
    <li><div class="easy-level"><span class="level-label">Easy</span><span class="level-pairs">6 pairs</span></div></li>
  </ul>
</div>